<%= flash[:notice] %>
<table>
  <thead>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Email</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each_with_index do |student, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.score %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div>
  <h4>Import data</h4>
  <%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>
